<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" style="width:300px">
    <tr>
        <th>Получатель</th>
        <th>Сумма</th>
    </tr>
    <tr th:each="m : ${report}">
        <td th:text="${m.recipient}"></td>
        <td th:text="${m.total}"></td>
    </tr>
</table>
<br>
<form action="/saverecip" method="post"><button>Выгрузить</button></form>
<span th:text="${recres}"></span>
</body>
</html>