<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Форма загрузки файла</title>
</head>
<body>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name = "xfile">
    <input type="submit" value="Загрузить">
</form>
<br>
<br>
<p th:if = "${message != null}"><span th:text="${message}"/> </p>
<p th:if = "${size != null}">Размер файла: <span th:text="${size}"/> </p>
<p th:if = "${errorMessage != null}"><span th:text="${errorMessage}"/> </p>
</body>

<table border="1" style="width:300px">
    <tr>
        <th>id</th>
        <th>Номер документа</th>
        <th>Дата</th>
        <th>Получатель</th>
        <th>Сумма</th>
        <th>Назначение платежа</th>
    </tr>
    <tr th:each="line : ${tab_lines}">

        <td><span th:text="${line.id}"/></td>
        <td><span th:text="${line.number}"/></td>
        <td><span th:text="${line.date}"/></td>
        <td><span th:text="${line.recipient}"/></td>
        <td><span th:text="${line.sum}"/></td>
        <td><span th:text="${line.purpose}"/></td>
        <td>
            <!-- <a th:href="@{/delete(id = ${line.id})}">
                <button>Удалить</button>
             </a>ТАК ТОЖЕ МОЖНО!!!!-->
            <a th:href="@{'/deletePay?id=' + ${line.id}}"> <button>Удалить</button></a>
        </td>


        <!--  <td><a th:href="@{/delete(id = ${line.id})}"> Удалить </a></td>-->

    </tr>
</table>

</html>