<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Форма загрузки файла</title>
</head>
<body>
<form action="/upload" method="post" enctype="multipart/form-data" th:object="${requestDTO}">
    <label for="fileInput">Выберите файл:</label>
    <input type="file" id="fileInput" name="multipartFile"  />
    <br/>
    <input type="submit" value="Загрузить">
</form>
<br>
<br>
<div th:if="${response != null}">
    <h3>Результат загрузки:</h3>
    <ul>
        <li th:if="${response.message != null}">Сообщение: <span th:text="${response.message}"></span></li>
        <li th:if="${response.size != null}">Размер файла: <span th:text="${response.size}" ></span> байт</li>
        <li th:if="${response.errorMessage != null}">Ошибка: <span th:text="${response.errorMessage}"></span></li>
    </ul>
</div>
</body>

<table border="1" style="width:300px">
    <tr>

        <th>Номер документа</th>
        <th>Дата</th>
        <th>Получатель</th>
        <th>Сумма</th>
        <th>Назначение платежа</th>
    </tr>
    <tr th:each="line : ${tab_lines}">
        <td><span th:text="${line.number}"/></td>
        <td><span th:text="${line.date}"/></td>
        <td><span th:text="${line.recipient}"/></td>
        <td><span th:text="${line.sum}"/></td>
        <td><span th:text="${line.purpose}"/></td>
        <td>
            <a th:href="@{'/rejectPay?number=' + ${line.number}}"> <button>Удалить </button></a>
        </td>


    </tr>
</table>
<br>
<br>

<form action="/write_on_database" method="post">
    <button>Записать платежи в базу данных</button>
</form>

<p th:if = "${upload_result != null}"><span th:text="${upload_result}"/> </p>

</html>